*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

	}

body{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
}
	/*Inizio header*/

	.contenitore-headerm{
		background-color: #3161E0;
		max-width: 100%;
	}

	.nav{
		display: flex;
		flex-direction: row;
		padding: 64px 0;
		
		
	}

	.containerImg{
		width: 20%;


		
	}


	.container-link{
		display: flex;
		width: 60%;
		justify-content: center;
		
	}

	.login{
		width: 20%;
		justify-content:flex-end;	

	}

	.contenitore-headern{
		position: relative;
		justify-content: center;
		align-items: center;
		background-image: url(../img/img1/stars.svg) ;
		
	}
	
	.img{
		width: 100%;
		height: 400px;
		display: block;

	}

	.testo{
		position: absolute;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 0;
		width: 600px;
		
		
		
		
	}

	.title p{
		color: white;
	}

	.costum-buttom{
		padding: 10px 20px;
		border: none;	
		cursor: pointer;
		transition: 0.5s;
		border-radius: 10px;
		

	}


	.button1{
		background-color: white;
		color: black;

	}

	.button2{
		background-color: black;
		color: white;

	}
	.custom-button:hover {
		background-color: gray;
	}

	.buttonLogin{
		height: 40px;
		width: 60px;
		border: none;	
		cursor: pointer;
		transition: 0.5s;
		border-radius: 10px;	

	}

/*Fine header*/

/*section1*/

.item1{
	align-items: center;
	justify-content:center;

}


section > .container-main {
	flex-direction: column;
	justify-content: center;
	
}


/*section2*/
.itemBeige{
	align-items: center;
	justify-content:center;
	background-color: rgb(233, 233, 233);
	

}


.itemBeige {
	align-items: center;
}

/*section4*/

.container4{
	flex-direction: column;
	align-items: center;
	background-color: rgb(233, 233, 233);
	
	
}

.container4 > div{
	text-align: center;
	
}

.button3{
	background-color: #8FA1E1;
	color: white;

}

/*Footer*/
.imgItalia{
	width: 20px;
}

.innerSpacef{
    width: 100%;
    height: 400px;
    background: black;
} 

.sectionf{
    display: flex;
    width: 100%;
    height: 100%; 
   
}

.rosa{
    width:30%;
    border-style: dashed;
  

}

.verde1{
    width: 17.5%;
    display: flex;
    border-style: dashed;

}

.verde2{
    width: 17.5%;
    display: flex;
    border-style: dashed;

}

.verde3{
    width: 17.5%;
    display: flex;
    border-style: dashed;

}

.verde4{
    width: 17.5%;
    display: flex;
    border-style: dashed;

}

hr{
    color: beige;
    size: 2px;
}

.innerSpacef1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background: black;
    justify-content: center;
    
}

.navf {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    justify-content: space-between;
	padding: 10px 110px;

  
    

}

.logof{
    height: 50px;
    width: 100px;
   
    
    

}

.bottoneFooter{
	background-color: #8FA1E1;
    display: flex;
    align-items: center;
    justify-content: center; 
	padding: 10px 20px;
	border: none;	
	cursor: pointer;
	transition: 0.5s;
	border-radius: 20px;
   
}



	/*-Generici*/


.flex{
	display: flex;
}

/* paddin*/
.p16 {
	padding:16px;
}

.p64{
	padding: 0 64px;
}

.p80{
	padding: 0 64px;
}

.p8-4{
	padding: 80px 110px; 
}

.p10-110{
	padding: 10px 110px;
}

.p110{
	padding: 110x; 
}

/*margin*/

.m8{
	margin: 8px;
}

.testoViola{

	color: #8FA1E1;

}

.testoBianco{
	color: white;
	
}

.sfondoViola{
	background-color: #8FA1E1; 
}

.ulNone{
	list-style-type: none;

}

.tDecorationN{
	text-decoration: none;
}
/* Style testo*/
.fontSize48{
	font-size: 48px;
}

.lineHeight{
	line-height: 1.625;
}


.textCenter{
	text-align: center;
}


.flexContainer{
	max-width: 100%x;
	margin: 0 auto;
	min-width: 300px;
}
	